*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{    
    font-family: 'Istok Web', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Navbar general */
nav{
    width: 100%;
    background: #323232;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 1;
}

.img-navbar{
    padding-top: 7px;
    padding-right: 25px;
    transition:all 0.3s ease;
}

.img-navbar:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.img-navbar img{
    width: 80px;
    cursor: pointer;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: #BD3C3C;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
    
}

.menu li{
    padding: 10px 20px;
    font-size: 15px;
    transition:all 0.3s ease;
}

.menu li:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/*Body*/
.title{
    display: grid;
    grid-template-columns: 900px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 150px;
}

.title h1 {
    color: #A01027; 
    font-size: 50px;
    text-align: center;
}

.title p {
    color: #000000;
    text-align: justify;
}

section {
    display: grid;
    grid-template-columns: 500px 400px;
    justify-content: center;
    grid-template-areas: "m  i"
                         "v  i";
}

section h1 {
    color: #A01027;
    font-size: 50px;
}

section p {
    color: #000000;
    text-align: justify;
}

.img-40 img{
    width: 400px;
    border-radius: 30px;
}

.img-40 {
    grid-area: i;
}

.mision {
    grid-area: m;
    margin-right: 30px;
}

.vision {
    grid-area: v;
    margin-right: 30px;
}

.valores {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
    margin-top: 20px;
    grid-template-areas: "vt vt"
                         "v1 v4"
                         "v2 v5"
                         "v3 v6";
}

.valores p {
    color: #000000;
    text-align: justify;    
}

.vt {
    color: #A01027;
    font-size: 50px;
    grid-area: vt;
}

.v1 {
    grid-area: v1;
    margin-right: 15px;
    margin-bottom: 25px;
}

.v2 {
    grid-area: v2;
    margin-right: 15px;
    margin-bottom: 25px;
}

.v3 {
    grid-area: v3;
    margin-right: 15px;
}

.v4 {
    grid-area: v4;
    margin-left: 15px;
}

.v5 {
    grid-area: v5;
    margin-left: 15px;
}

.v6 {
    grid-area: v6;
    margin-left: 15px;
}

.politicas-img {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    background: rgb(221,221,221);
    background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(232,232,234,1) 100%);}

.politicas-img img{
    width: 1700px;
}

.politicas {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
    margin-top: 20px;
    grid-template-areas: "p1 p3"
                         "p2 p4";
}

.politicas p {
    color: #000000;
    text-align: justify;
}

.p1 {
    grid-area: p1;
    margin-right: 15px;
    margin-bottom: 25px;
}

.p2 {
    grid-area: p2;
    margin-right: 15px;
}

.p3 {
    grid-area: p3;
    margin-left: 15px;
    margin-bottom: 25px;
}

.p4 {
    grid-area: p4;
    margin-left: 15px;
}


.more {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 450px 450px;
    justify-content: center;
    justify-items: center;
    grid-template-areas: "h4 h4"
                         "btns btns";
}

.more h4{
    grid-area: h4;
    color: #000000;
    font-size: x-large;
}
.btn-more {
    display: flex;
    grid-area: btns;
    margin-top: 10px;
}
.btn-more button {
    background-color: #BD3C3C;
    color: #fff;
    font-size: 20px;
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    padding: 2% 3% 2% 3%;
    border-radius: 10px;
    border: none;   
    width: 300px;
    margin-right: 3%;
    cursor: pointer;
}

.btn-more button:hover{
    background-color: #9b0e0e;
}

.btn1 {
    grid-area: btn1;
}

.btn2 {
    grid-area: btn2;
}

/* Footer */
footer{
    display: flex;
    background: #323232;
    padding: 25px 20px;    
    align-items: center;
    justify-content: center;
    margin-top: auto;
    bottom: 0%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px, rgba(0, 0, 0, 0.23) 0px -3px 6px;
}

.img-salud{
    padding-right: 50px;
    padding-left: 50px;
}

.img-salud img{    
    width: 200px;
}

.bloque2{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: flex-start;
}

.bloque2 a, h4, p{
    color: #fff;    
    text-decoration: none;
}

.bloque3{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 30px;    
    padding-right: 30px;
    justify-content: flex-start;
}

.bloque3 a{
    padding: 2px;
    color: #fff;    
    text-decoration: none;
}