*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    font-family: 'Istok Web', sans-serif;
}

/* Navbar general */
nav{
    width: 100%;
    background: #323232;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.img-navbar{
    padding-top: 7px;
    padding-right: 25px;
}
.img-navbar img{
    width: 80px;
    cursor: pointer;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: #BD3C3C;
    
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 10px 20px;
    font-size: 15px;
}

/*Body*/
.title{
    display: grid;
    grid-template-columns: 900px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.title h1 {
    color: #BD3C3C; 
    font-size: 50px;
    text-align: center;
}

.title p {
    color: #000000;
    text-align: justify;
}

section {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
}

section h1 {
    color: #BD3C3C;
    font-size: 40px;
}

section p {
    color: #000000;
    text-align: justify;
}

.img-40 img{
    width: 200px;
    border-radius: 20px;
}

/* Footer */
footer{
    width: 100%;
    background: #323232;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    bottom: 0%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px, rgba(0, 0, 0, 0.23) 0px -3px 6px;
}

.img-salud{
    padding-right: 50px;
    padding-left: 50px;
}

.img-salud img{    
    width: 200px;
}

.bloque2{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: flex-start;
}

.bloque2 a, h4, p{
    color: #fff;    
    text-decoration: none;
}

.bloque3{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 30px;    
    padding-right: 30px;
    justify-content: flex-start;
}

.bloque3 a{
    padding: 2px;
    color: #fff;    
    text-decoration: none;
}