/* Eliminar las barras de desplazamiento en el cuerpo y el HTML */
body{
    scrollbar-width: none;
}

html{
    scrollbar-width: none;
}

/* Estilos para la sección de título */
.title{
    display: grid;
    grid-template-columns: 1000px; /* Columna de 1000px */
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 150px;
}

.title h1 {
    color: #000000; /* Color del texto */
    font-size: 60px;
    text-align: center;
}

.title p {
    color: #000000; /* Color del texto */
    text-align:justify; /* Alineación justificada */
    font-size: 20px;
}

/* Estilos para el carrusel */
.container-carousel-out {
    display: flex;
    justify-content: center;
}

.container-carousel {
    position: relative;
    width: 1000px; /* Ancho del carrusel */
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    border:1px solid #BD3C3C; /* Borde del carrusel */
}

.carruseles {
    width: 400%; /* Ancho total del contenido del carrusel */
    height: 100%;
    display: flex;
    border: 2px black;
}

.slider-section {
    width: calc(100% / 4); /* Ancho de cada sección del carrusel */
    height: 100%;
    border: 2px #000000; /* Borde de cada sección */
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 4rem;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #000000;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #BD3C3C; /* Color de fondo al pasar el mouse */
    color: #ffffff; /* Color del texto al pasar el mouse */
}

.btn-left {
    left: 5px;
}

.btn-right {
    right: 5px;
}

/* Estilos para otras secciones */
.container-out {
    display: flex;
    justify-content: center;
}

.container-in {
    display: flex;    
    justify-content: center;
    justify-items: center;
    background-color: #BD3C3C; /* Color de fondo */
    border-radius: 20px;
    padding: 2rem;
    margin: 2rem 3rem 2rem 3rem; /* Márgenes */
}

/* Estilos para la sección de preparaciones */
.preparaciones {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 950px; /* Columna de 950px */
    align-items: center;
    justify-content: center;
}

.preparaciones h4 {
    color: #ffffff; /* Color del texto */
    font-size: 1.2rem;
    text-align: center;
}

.preparaciones label {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Istok Web';
    margin-top: 1rem;
    color: #ffffff; /* Color del texto */
}

select#examen {
    border: 1px solid #908f8f;
    border-radius: 8px;
    font-family: 'Istok Web';
    font-size: 1rem;
    box-shadow: 5px 7px 5px -4px rgba(0,0,0,0.1);
    padding: 10px;
}

textarea#resultado {
    resize: vertical;
    border: none;
    height: 18rem;   
    font-family: 'Istok Web';
    font-size: 1rem;
    padding: 1rem;
    overflow-y: auto;
    border-radius: 1rem;
}

/* Estilos para la sección de bibliografía */
.bibliografia {
    display: grid;
    grid-template-columns: 1000px; /* Columna de 1000px */
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.bibliografia p{
    color: #8f8f8f; /* Color del texto */
    font-style: normal;

}

.bibliografia cite, a{
    color: #8f8f8f; /* Color del texto */
}

.bibliografia h4 {
    color: #000000; /* Color del texto */
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 950px) {

    .title{
        grid-template-columns: 85%; /* Columna de 85% del ancho */
        
        & h1 {
            margin-bottom: 1rem;
            font-size: 2.8rem;
        }
    }

    .container-carousel-out {
        margin: 0rem 1rem 0rem 1rem; /* Márgenes */
    }
    
    .btn-left,
    .btn-right {
    font-size: 1.5rem; /* Tamaño de fuente */
    padding: 0px;
    transform: translate(0,-70%);
    }

    .preparaciones {
    grid-template-columns: 90%; /* Columna de 90% del ancho */
    text-align: center;
    width: 120%; /* Ancho del contenido */
    }

    .container-out {
        margin: 1rem; /* Márgenes */
    }

    .container-in {
        width: 100%; /* Ancho del contenedor */
    }
    .bibliografia {
        grid-template-columns: 85%; /* Columna de 85% del ancho */
    }
    
    .bibliografia cite, a{
    font-size: small; /* Tamaño de fuente pequeño */
    }

}
