
.title{
    display: grid;
    grid-template-columns: 1000px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 150px;
}

.title h1 {
    color: #000000; 
    font-size: 60px;
    text-align: center;
}

.title p {
    color: #000000;
    text-align:justify;
    font-size: 20px;
}

/* Slider */

.preparaciones {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1000px;
    align-items: center;
    justify-content: center;
}
.preparaciones h4 {
    color: black;
}

.preparaciones iframe {
    width: 900px;
    margin-left: 20px;
    height: 1050px;
    border-radius: 20px;
    border-style: none;
}