:root {
    --red: #BD3C3C;
    --gray-dark: #323232;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    scrollbar-width: none;
}

body{    
    font-family: 'Istok Web', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Navbar general */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: var(--gray-dark);
    width: 100%;
    position:fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 1;
}

.img-navbar {
    width: 5rem;
    margin-top: 0.6rem;
    margin-right: 1.5rem;
    transition:all 0.3s ease;
}

.img-navbar:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-list a:hover{
    color: var(--red);    
}

.nav-list li {    
    transition:all 0.3s ease;
}

.nav-list li:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* Modal Estados Financieros*/
#btn-modal{
    display: none;
    transition: all 3s ease-out;
}


.modal-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal:checked ~ .modal-container {
    display: flex;    
}

.modal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
    height: 80%;
    max-height: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.modal-content h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
}

.modal__close{
    display: flex;    
    justify-content: flex-end;
  }

.modal__close i:hover{
    background-color: #db5151;
}

.modal__close i {
    background-color: rgb(172, 26, 26);
    border-radius: .25rem;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}
.btns-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 80%;
}

.btns-modal button {
    background-color: #BD3C3C;
    color: #fff;
    font-size: 15px;
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    padding: 3%;
    border-radius: 10px;
    border: none;
    width: 400px;
    margin: 2%;
    cursor: pointer;
    transition:all 0.3s ease;
}

.btns-modal button:hover{
    background-color: #9b0e0e;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.cerrar {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}

/* Footer */
footer{
    display: flex;
    background: #323232;
    padding: 25px 20px;    
    align-items: center;
    justify-content: center;
    margin-top: auto;
    bottom: 0%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px, rgba(0, 0, 0, 0.23) 0px -3px 6px;
}

.img-salud{
    padding-right: 50px;
    padding-left: 50px;
}

.img-salud img{    
    width: 200px;
}

.bloque2{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: flex-start;
}

.bloque2 a, h4, p{
    color: #fff;    
    text-decoration: none;
}


.bloque3{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 30px;    
    padding-right: 30px;
    justify-content: flex-start;
}

.bloque3 a{
    padding: 2px;
    color: #fff;    
    text-decoration: none;
}

.bloque3 label{
    padding: 2px;
    color: #fff;
    cursor: pointer;
}

.open-nav,
.close-nav {
    display: none;
}

@media screen and (max-width: 700px){
    
    .open-nav,
    .close-nav {
        display: block;
        border: 0;
        font-size: 2.8rem;
        background-color: transparent;
        color: #ffffff;
        cursor: pointer;
    }

    header{
        justify-content: space-between;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .img-navbar{
        width: 4.2rem;
    }
    .nav{
        opacity: 0;
        visibility: hidden;
    }

    .nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 2;
        background-color: var(--gray-dark);
        padding: 5rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1;
        transition:all 0.3s ease;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
        height: 200vh;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a{
        font-size: 1.5rem;
    }
        
    footer{
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    
    .img-salud{
        padding-left: 1rem;
    }

}