*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body{    
    font-family: 'Istok Web', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/* Navbar general */
nav{
    width: 100%;
    background: #323232;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 1;
}

.img-navbar{
    padding-top: 7px;
    padding-right: 25px;
    transition:all 0.3s ease;
}

.img-navbar:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.img-navbar img{
    width: 80px;
    cursor: pointer;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: #BD3C3C;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
    
}

.menu li{
    padding: 10px 20px;
    font-size: 15px;
    transition:all 0.3s ease;
}

.menu li:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.title{
    display: grid;
    grid-template-columns: 900px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 150px;
}

.title h1 {
    color: #A01027; 
    font-size: 50px;
    text-align: center;
}

.title p {
    color: #000000;
    text-align: justify;
    margin-bottom: 50px;
}

.video1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video1 iframe{
    width:900px;
    height: 506px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.btn-portal {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.btn-portal button {
    background-color: #BD3C3C;
    color: #fff;
    font-size: 45px;
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    padding: 2% 3% 2% 3%;
    border-radius: 15px;
    border: none;   
    width: 900px;
    height: auto;
    cursor: pointer;
    margin-top: 20px;
    transition:all 0.3s ease;
}

.btn-portal button:hover{
    background-color: #9b0e0e;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.video2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.video2 iframe{
    width:900px;
    height: 506px;
    border-radius: 20px;
    margin-bottom: 80px;
    margin-top: 20px;
}

.video3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video3 iframe{
    width:900px;
    height: 506px;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.btn-portal2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.btn-portal2 button {
    background-color: #BD3C3C;
    color: #fff;
    font-size: 30px;
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    padding: 2% 3% 2% 3%;
    border-radius: 15px;
    border: none;   
    width: 600px;
    height: auto;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 50px;
}

.btn-portal2 button:hover{
    background-color: #9b0e0e;
}


footer{
    display: flex;
    background: #323232;
    padding: 25px 20px;    
    align-items: center;
    justify-content: center;
    margin-top: auto;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px, rgba(0, 0, 0, 0.23) 0px -3px 6px;
}

.img-salud{
    padding-right: 50px;
    padding-left: 50px;
}

.img-salud img{    
    width: 200px;
}

.bloque2{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: flex-start;
}

.bloque2 a, h4, p{
    color: #fff;    
    text-decoration: none;
}

.bloque3{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 30px;    
    padding-right: 30px;
    justify-content: flex-start;
}

.bloque3 a{
    padding: 2px;
    color: #fff;    
    text-decoration: none;
}