*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    font-family: 'Istok Web', sans-serif;
}

/* Navbar general */
nav{
    width: 100%;
    background: #323232;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.img-navbar{
    padding-top: 7px;
    padding-right: 25px;
}
.img-navbar img{
    width: 80px;
    cursor: pointer;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: #BD3C3C;
    
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 10px 20px;
    font-size: 15px;
}

.home{
    display: grid;
    justify-content: center;
    grid-template-columns: 650px 400px;
    margin-top: 150px;
    /* margin-left: 435px; */
    /* margin-right: 435px; */
    margin-bottom: 70px;
    align-content: center;
}


.title-home p{
    color: #697268;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 5%;
    font-size: 20px;
}

.title-home{
    margin-right: 6%;
}

.title{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 21px;
    margin-bottom: 2%;
}

.t{
    margin-right: 10px;
}
.img-home img{
    width: 400px;
    border-radius: 20px;
}

.btn-home button {
    background-color: #BD3C3C;
    color: #fff;
    font-size: 18px;
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    padding: 2% 3% 2% 3%;
    border-radius: 10px;
    border: none;
    margin-right: 3%;
    cursor: pointer;
    
}

.btn-home button:hover{
    background-color: #9b0e0e;
}

/*Section*/
section {
    width: 100%;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
    align-items: stretch;
}

.container1{
    display: flex;
    padding: 0px 30px 10px 40px;
    /* padding: 35px 10px 0px 35px; */
    background-color: #9b0e0e;
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.container1 .img-tel {
    align-items: center;
}

.container1 div {
    display: flex;
}

.container1 .tel {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

.container2{
    display: flex;
    background-color: #896A6A;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
}

.btn-more button {
    background-color: #FFFFFF;
    color: #A01027;
    font-size: 18px;
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    padding: 2% 3% 2% 3%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.btn-more {
    display: flex;
    justify-content: flex-end;
}

.btn-more button:hover{
    background-color: #ececec;
    color: #db4949;
}


.container3{
    display: flex;
    background-color: #979797;;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}





/* Footer */
footer{
    width: 100%;
    background: #323232;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    bottom: 0%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px, rgba(0, 0, 0, 0.23) 0px -3px 6px;
}

.img-salud{
    padding-right: 50px;
    padding-left: 50px;
}

.img-salud img{    
    width: 200px;
}

.bloque2{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: flex-start;
}

.bloque2 a, h4, p{
    color: #fff;    
    text-decoration: none;
}

.bloque3{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 30px;    
    padding-right: 30px;
    justify-content: flex-start;
}

.bloque3 a{
    padding: 2px;
    color: #fff;    
    text-decoration: none;
}

