<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre Nosotros</title>
    <link rel="icon" href="../img/Logo.ico" />
    <link rel="stylesheet" href="../css/AboutUs.css" />

    <!-- Link de fonts google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>

  <body>
    <!--Navbar-->
    <nav>
      <div class="img-navbar">
        <a href="../index.html"><img src="../img/Logo.png" alt="Logo" /></a>
      </div>

      <ul class="menu">
        <li><a href="../index.html">INICIO</a></li>
        <li>
          <a href="/views/AboutUs.html" style="color: #bd3c3c">NOSOTROS</a>
        </li>
        <li><a href="/views/Services.html">SERVICIOS</a></li>
        <li><a href="/views/Resultados.html">RESULTADOS</a></li>
        <li><a href="/views/ContactUs.html">CONTACTO</a></li>
      </ul>
    </nav>

    <!-- Body -->

    <div class="title">
      <h1>Sobre Nosotros</h1>
      <p>
        Con orgullo y dedicación, llevamos 40 años prestando servicios de
        imagenología especializada y de alta calidad. Nuestra trayectoria nos ha
        permitido crecer y evolucionar, pero nuestra fe y compromiso en seguir
        mejorando nunca han cambiado. Estamos aquí para brindarle lo mejor en
        imagenes diagnosticas.
      </p>
    </div>

    <section>
      <div class="mision">
        <h1>Misión</h1>
        <p>
          El Departamento de Radiología S.A., presta servicios en Imagenología
          convencional y especializada, mediante estrategias de calidad,
          seguridad y humanización del servicio; apoyándonos para ello en la
          idoneidad y experiencia de nuestro talento humano en un entorno
          formativo con la más avanzada tecnología en ayudas diagnósticas y una
          excelente gestión que garantice la sostenibilidad económica y la
          permanencia en el tiempo.
        </p>
      </div>

      <div class="vision">
        <h1>Visión</h1>
        <p>
          Nuestra visión es ser reconocidos como una institución líder en
          servicios de Imágenes de Apoyo Diagnóstico y Complementación
          Terapéutica. Nos esforzamos por brindar servicios confiables, seguros,
          pertinentes, oportunos y humanizados. Nuestro objetivo es ser la
          opción preferida para nuestros pacientes, proporcionándoles una
          atención de calidad y cuidado personalizado en cada paso de su proceso
          de diagnóstico y tratamiento.
        </p>
      </div>

      <div class="img-40">
        <img src="../img/40_radio.JPG" alt="" />
      </div>
    </section>

    <div class="valores">
      <h1 class="vt">Valores corporativos</h1>

      <div class="v1">
        <h1>Calidez</h1>
        <p>
          Implica ser amables y cariñosos con el otro, ser cordiales a la vez
          que empáticos y comprensivos, supone hacer sentir al otro apreciado.
        </p>
      </div>

      <div class="v2">
        <h1>Calidad</h1>
        <p>
          Hacer lo correcto cuando nadie nos este viendo. Abarcando aspectos
          como la precisión, la eficiencia, la seguridad, la confiabilidad y la
          mejora continua.
        </p>
      </div>

      <div class="v3">
        <h1>Humanización</h1>
        <p>
          Atención con sentido humano, respetando el dolor ajeno y solucionando
          dentro de nuestras competencias.
        </p>
      </div>

      <div class="v4">
        <h1>Liderazgo</h1>
        <p>
          Capacidad de iniciar, guiar, dirigir y organizar actividades que
          promuevan la consecución de objetivos individuales y colectivos.
        </p>
      </div>

      <div class="v5">
        <h1>Trabajo en equipo</h1>
        <p>
          Es poder desarrollar con mis compañeros y pares, labores para alcanzar
          los objetivos del servicio.
        </p>
      </div>

      <div class="v6">
        <h1>Responsabilidad</h1>
        <p>
          Es dar cumplimiento a las obligaciones y ser cuidadoso al tomar
          decisiones o al realizar algo.
        </p>
      </div>
    </div>

    <div class="politicas-img">
      <img src="../img/Group 11.png" alt="Políticas institucionales" />
    </div>

    <div class="politicas">
      <div class="p1">
        <h1>Política de Seguridad del Paciente</h1>
        <p>
          La política de Seguridad del paciente incluye la identificación y
          análisis de los eventos adversos y los incidentes, para identificar
          sus causas y las acciones para intervenirlos.
        </p>
      </div>
      <div class="p3">
        <h1>Política de Derechos y deberes</h1>
        <p>
          Institucionalizar sus deberes y derechos inmersos en los servicios
          ofertados por la institución, para lo cual garantizar y brindar una
          atención oportuna y segura con calidad y calidez humana para el
          servicio de todos, buscando así la satisfacción del usuario y su
          familia.
        </p>
      </div>
      <div class="p2">
        <h1>Política de Humanización</h1>
        <p>
          El objetivo de la Política de Humanización es garantizar una atención
          integral durante la prestación de los servicios de salud, basada en el
          respeto, privacidad y dignidad de los usuarios, sus familias y
          colaboradores.
        </p>
      </div>
      <div class="p4">
        <h1>Política de Calidad</h1>
        <p>
          La Política de Calidad es la línea de acción de una organización para
          la mejora de sus procesos internos.
        </p>
      </div>
    </div>

    <div class="more">
      <h4>Conoce más de nuestra empresa</h4>
      <div class="btn-more">
        <button class="btn1">ORGANIGRAMA</button>
        <button class="btn2">MAPA DE PROCESOS</button>
      </div>
    </div>

    <br /><br /><br />
    <!-- Footer -->
    <footer>
      <div class="img-salud">
        <img src="../img/logo-supersaludblanco.png" alt="Logo_Supersalud" />
      </div>

      <div class="bloque2">
        <h4>Correo electrónico</h4>
        <a href="calidad@dptoradiologia.com">calidad@dptoradiologia.com</a>
        <br />
        <h4>Dirección</h4>
        <a href="https://maps.app.goo.gl/pJuejCYB29dg3StD9"
          >Edificio La Palencia. Cra. 46 # 50-28, La Candelaria, Medellín.</a
        >
      </div>

      <div class="bloque3">
        <a href="">Política de Tratamiento y Protección de Datos.</a>
        <a href="">Estados Financieros 2022</a>
        <a href="">PQRS</a>
        <a href="" style="color: rgb(235, 99, 99)">Intranet</a>
      </div>
    </footer>

    <script src="../JS.js"></script>

  </body>
</html>
