<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultados</title>
    <link rel="icon" href="../img/Logo.ico">
    <link rel="stylesheet" href="../css/Resultados.css" />

    <!-- Link de fonts google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap" rel="stylesheet" />
    <script src="https://unpkg.com/scrollreveal"></script>

</head>

<body>

    <!--Navbar-->
    <nav>
        <div class="img-navbar">
            <a href="../index.html"><img src="../img/Logo.png" alt="Logo" /></a>
        </div>

        <ul class="menu">
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="/views/AboutUs.html">NOSOTROS</a></li>
            <li><a href="/views/Services.html">SERVICIOS</a></li>
            <li><a href="/views/Resultados.html" style="color: #BD3C3C;">RESULTADOS</a></li>
            <li><a href="/views/ContactUs.html">CONTACTO</a></li>
        </ul>
    </nav>

    <body>
        <div class="title">
            <h1>Resultados</h1>
            <p>
                Para el Departamento de Radiología S.A, nos complace ofrecerle nuestro portal de imágenes diagnósticas.
                Ahora puede acceder a sus resultados desde cualquier lugar y en cualquier momento.</p>

            <h1 style="font-size: 40px;">¿Cómo entrar al portal por primera vez?</h1>
        </div>


        <div class="video1">
            <iframe loading="lazy" src="https://www.youtube.com/embed/PcmgXm6VOQY?si=UCKIqq4tgK3Y1FJW"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <h2>En el siguiente botón puedes ingresar al portal de imágenes diagnosticas</h2>
        </div>

        <div class="btn-portal">
            <a href="https://medportal.dptoradiologia.com/login" target="_blank"><button class="btn1">PORTAL IMÁGENES DIAGNÓSTICAS <h3
                        style="font-size: 30px">CLICK AQUI</h3></button></a>
        </div>
        <div class="video2">
            <h1>¿Cómo recupero mi contraseña?</h1>
            <iframe loading="lazy" src="https://www.youtube.com/embed/LIfn3UnYRHA?si=IuA9c2sRWqsTFZ8C" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="video3">
            <h1>¿Cómo descargar mis resultados?</h2>
                <iframe loading="lazy" src="https://www.youtube.com/embed/LIfn3UnYRHA?si=IuA9c2sRWqsTFZ8C" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>

        <div class="btn-portal2">
            <a href="http://190.248.129.230:8084/" target="_blank"><button>INFORMES DE 2018 EN ADELANTE</button></a>
        </div>

        <!-- Footer -->
        <footer>
            <div class="img-salud">
                <img src="../img/logo-supersaludblanco.png" alt="Logo_Supersalud">
            </div>
        
            <div class="bloque2">
              <h4>Correo electrónico</h4>
              <a href="calidad@dptoradiologia.com" target="_blank">calidad@dptoradiologia.com</a>
              <br>
              <h4>Dirección</h4>
              <a href="https://maps.app.goo.gl/pJuejCYB29dg3StD9" target="_blank">Edificio La Palencia. Cra. 46 # 50-28, La Candelaria,
                Medellín.</a>
            </div>
        
            <div class="bloque3">
              <a href="">Política de Tratamiento y Protección de Datos.</a>
              <a href="">Estados Financieros 2022</a>
              <a href="">PQRS</a>
              <a href="" style="color: rgb(235, 99, 99)">Intranet</a>
            </div>
          </footer>
        <script src="../JS.js"></script>
    </body>

</html>